.hindu-holiday {
    background-color: orange; /* Change this to your desired color */
    color: black; /* Text color */
}

.islam-holiday {
    background-color: greenyellow; /* Change this to your desired color */
    color: black; /* Text color */
}

.christianity-holiday {
    background-color: blue; /* Change this to your desired color */
    color: black; /* Text color */
}

.jainism-holiday {
    background-color: pink; /* Change this to your desired color */
    color: black; /* Text color */
}
